
@{
    Layout = "_Layout";
}

<link href="~/css/site.css" rel="stylesheet" />
<div class="container">
    <div class="row pr-40 pl-40">
        <!-- Başlık-->
        <div class="heading-title heading-border heading-color mt-20 mb-40 ml-10">
            <h2 class="fs-22 fw-400" style="color: #a02223">İletişim</h2>
        </div>
        <div class="clearfix mt-30">

            <div class="clearfix mt-30">

                <script type="text/javascript" src="/assets/js/jsshare.js"></script>
                <script>
    <!--
                    document.addEventListener("DOMContentLoaded", function (event) {
                        var shareItems = document.querySelectorAll('.social_share');
                        for (var i = 0; i < shareItems.length; i += 1) {
                            shareItems[i].addEventListener('click', function share(e) {
                                console.log(this);
                                return JSShare.go(this);
                            });
                        }
                    });
                    -->
                </script>


                <a href="#" onclick="return JSShare.go(this)" data-type="email" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email"> <i class="icon-email3"></i> <i class="icon-email3"></i> </a>

                <a href="#" onclick="return JSShare.go(this)" data-type="linkedin" class="social-icon social-icon-sm social-icon-transparent social-linkedin float-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"> <i class="icon-linkedin"></i> <i class="icon-linkedin"></i> </a>

                <a href="https://www.facebook.com/Kanver.Org/" onclick="return JSShare.go(this)" data-type="facebook" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"> <i class="icon-facebook"></i> <i class="icon-facebook"></i> </a>

                <a href="https://twitter.com/KanverOrg" onclick="return JSShare.go(this)" data-type="twitter" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"> <i class="icon-twitter"></i> <i class="icon-twitter"></i> </a>

                <img src="~/images/iletisim.jpg" width="1300px" height="250px"/>



            </div>
        </div>
        <!-- İçerik-->
        <p>
        </p><p>
    Adres: Türk Kızılayı Cad. No: 1 06790 Etimesgut, ANKARA
        <br />
    Kan Bağışı ve dışındaki sorularınız için <b>168</b>'i arayınız
    
</p>

       


        <p></p>
        <!-- İçerik Sonu-->
    </div>
</div>
