
@{
    Layout = "_Layout";
}

<link href="~/css/site.css" rel="stylesheet" />
<div class="container">
    <div class="row pr-40 pl-40">
        <!-- Başlık-->
        <div class="heading-title heading-border heading-color mt-20 mb-40 ml-10">
            <h2 class="fs-22 fw-400" style="color: #a02223">Tarihçemiz</h2>
        </div>
        <div class="clearfix mt-30">

            <div class="clearfix mt-30">

                <script type="text/javascript" src="/assets/js/jsshare.js"></script>
                <script>
    <!--
    document.addEventListener("DOMContentLoaded", function (event) {
        var shareItems = document.querySelectorAll('.social_share');
        for (var i = 0; i < shareItems.length; i += 1) {
            shareItems[i].addEventListener('click', function share(e) {
                console.log(this);
                return JSShare.go(this);
            });
        }
    });
    -->
                </script>


                <a href="#" onclick="return JSShare.go(this)" data-type="email" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email"> <i class="icon-email3"></i> <i class="icon-email3"></i> </a>

                <a href="#" onclick="return JSShare.go(this)" data-type="linkedin" class="social-icon social-icon-sm social-icon-transparent social-linkedin float-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"> <i class="icon-linkedin"></i> <i class="icon-linkedin"></i> </a>

                <a href="https://www.facebook.com/Kanver.Org/" onclick="return JSShare.go(this)" data-type="facebook" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"> <i class="icon-facebook"></i> <i class="icon-facebook"></i> </a>

                <a href="https://twitter.com/KanverOrg" onclick="return JSShare.go(this)" data-type="twitter" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"> <i class="icon-twitter"></i> <i class="icon-twitter"></i> </a>

                



            </div>
        </div>
        <!-- İçerik-->
        <p>
        </p><p>
            Ülkemizde kan transfüzyonu ile ilgili ilk çalışmalar 1921 yılı itibariyle Prof. Dr. Burhanettin Toker tarafından başlatılmıştır. Cerrahpaşa Tıp Fakültesi’nde, 1938 yılında ilk transfüzyon gerçekleşmiştir.<br>
            
            1953’te Kızılay Kongresi’nde Genel Başkan Prof. Dr. Reşat BELGER’in önerisi ile kan yardım teşkilatının kurulması kararlaştırılmıştır.<br>
            <br>
            1954’te Kızılay tarafından kan transfüzyonu konusunda eğitim almaları için İngiltere ve ABD’ye doktorlar gönderilmiştir.<br>
            <br>
            1957'de Ankara ve İstanbul'da eş zamanlı ilk modern Kızılay Kan Merkezleri açılarak kan bankacılığı alanında da hizmet verilmeye başlanmıştır.
        </p>

        <p>
            Kızılay’ın kan bağışı çalışmaları 1974 yılında “Türkiye Kızılay Derneği Kan Bağışı Organizasyonu”nun kurulması ile hız kazanmış, halka kan bağışı konulu eğitimler verilmeye ve gezici kan bağışı kampanyaları düzenlenmeye başlanmıştır.<br>
            <br>
            Ülkenin ihtiyacına cevap vermeye çalışan kan merkezlerinde zamanla artış olmuştur. Farklı bir uzmanlık alanı gereken kan bankacılığı için Kızılay çatısı altında yeni bir müdürlük açılması kararlaştırılmıştır. 1983’te Türkiye Kızılay Derneği Kan Hizmetleri Müdürlüğü kurulmuştur.
        </p>
        
        <p>Türk Kızılay Kan Hizmetleri alanında gelişen ve büyüyen yapısı ile ülke kan ihtiyacının çoğunu karşılar hale gelmiştir. 31 Mayıs 2005 tarihli Bütçe Uygulama Talimatnamesi’nde Türk Kızılay’ın güvenli kan esasına dayalı çalıştığı belirtilmiş, ihtiyaç duyulan kanın öncelikle Türk Kızılay Kan Merkezlerinden temin edilmesi belirtilmiştir. Bu gelişmelerin ışığında Kan Hizmetleri, bünyesinde hizmet veren Kan Bağışı Merkezlerini bölgesel yapılaşma altında toplamaya başlamış, merkezi laboratuvarların kurulması ile güvenli kan temini çalışmalarını standardize etmiştir. Bugün itibariyle dünyadaki gelişmiş kan bankaları standartlarına ulaşılmıştır.</p>

        <p>1957 yılında iki kan merkezi ile çıkılan Kan Hizmetleri yolculuğuna 2020 yılı itibariyle 18 Bölge Kan Merkezi yapılanması altında 68 Kan Bağışı Merkezi ile devam etmektedir.</p>

        <p></p>
        <!-- İçerik Sonu-->
    </div>
</div>

